html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  text-align: center;
  background-image: url('/images/background_scale_1x.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 100vh;
  color: white;
  padding-top: 5%;

  img{
    width: 50%;
    height: auto;
  }

  h2{
    font-size: xx-large;
    line-height: 200%;
  }

  span{
    font-size: small;
    word-spacing: 20px;
  }
}

.opt-In{
  font-weight: bold;
  font-size:large;
  width: 300px;
  height: 30px;
  background: white;
  margin: 20px auto 0 auto;

  a{
    text-decoration: none;
    color: #000; 
  }
}


/* ----------- Retina Screens ----------- */
@media only screen and (-webkit-min-device-ratio: 2),
      only screen and (-webkit-min-device-ratio: 1.5),
      only screen and (-moz-min-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 3/2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min--moz-device-pixel-ratio: 1.5),
      only screen and (min-device-pixel-ratio: 1.5),
      only screen and (min-device-pixel-ratio: 2){
        .App {
          background-image: url('/images/background_scale_2x.jpeg');
    
          image{
            background-image: url('/images/background_scale_2x.jpeg');
          }
        }
      }
      @media only screen and (max-width: 400px) {
       .App {
         padding-top: 30%;
          img{
            width: 70%;
            height: auto;
          }
        }
      }